<div class="row p-3">
  <h3 class="lead fs-1">Lista de productos <i class="bi bi-plus-circle-fill text-primary btn"></i></h3>
  <div class="col-12">

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col" class="text-center">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>&#64;mdo</td>
      <td class="text-center">
        <i class="bi bi-trash btn-lg text-danger"></i>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>&#64;fat</td>
      <td class="text-center">
        <i class="bi bi-trash btn-lg text-danger"></i>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>&#64;fat</td>
      <td class="text-center">
        <i class="bi bi-trash btn-lg text-danger"></i>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModal"
aria-hidden="true"></div>